.cart-index {
  margin-top: 30px;
  min-height: 83%;
}
.cart-index-title {
  color: rgb(9, 85, 185);
  margin-bottom: 35px;
}
.cart_table {
  img {
   max-height: 200px;
   max-width: 150px;
  }
}
.btn-pay {
  margin-top: 25px;
  width: 8rem;
  margin-left: 25%;
}
.btn-back-shopping {
  margin-top: 25px;
  width: 10rem;
  margin-left: 42%;
}
