body {
  padding: 1.5em 1em;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}
/* header */
#logo_img img {
  float: left;
  margin-right: 10px;
  height: 42px;
} 
#cart_img img {
  float: left;
  margin-right: 3px;
  padding-top: 1px;
  height: 35px;
} 
.count-product {
  font-size: 0.8875rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
  line-height: 11px;
  min-width: 18px;
  height: 18px;
  border-radius: 9px;
  padding: 4px;
  background: #161619;
  display: inline-block;
  margin-top: 10px;
}
nav {
  background-color: #abc6e0;
}
.flash-noti {
  margin-top: 30px;
}
/* footer */
.footer {
  background-color: #abc6e0;
  margin-top: 30px;
}
/* pagination */
.pagination {
  background-color: #fff;
}
