// Place all the styles related to the Shop controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.img-shop{
  height: 230px;
  width: 100%;
  margin-right: 20px;
}

.body-shop{
  padding: 50px 0px;
  background-color: #ebebeb;
}

.header-shop{
  margin: 55px;
} 

.title-shop{
  font-size: 56px;
  margin-bottom: 20px;
}

.description-shop{
  font-size: 21px;
}
