// Place all the styles related to the Shop controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.body{
  min-height: 85%;
}

.img-shop{
  height: 230px;
  width: 100%;
  margin-right: 20px;
}

.paginate nav{
  background-color: #ebebeb;
}

.body-shop{
  padding: 50px 0px;
  background-color: #ebebeb;
  min-height: 50%;
}

.header-shop{
  margin: 55px;
} 

.title-shop{
  font-size: 56px;
  margin-bottom: 20px;
}

.description-shop{
  font-size: 21px;
}

.list-shop-title{
  color: rgb(22, 115, 177);
}

.content-shops{
  padding: 55px;
}
